{{!-- {{#if loggedIn}} --}}
{{#each this}}
<div class="commentAlignment">
  <section class="comment">
    <div class="text" style="font-size: larger;">
      {{comment_text}}
    </div>
    <div class="meta" style="text-decoration: underline; font-style: oblique; text-align:right;">
      {{user.first_name}} {{user.last_name}} on {{format_date created_at}}
    </div>
</div>
{{/each}}
{{!-- {{/if}} --}}