<section class="login">
    <form class="login-form">
        <h1>Login</h1>
        <div class="form-group">
            <label for="email-login"></label>
            <input type="text" id="email-login" class="form-control" placeholder="Email"/>
        </div>
        <div class="form-group">
            <label for="password-login"></label>
            <input type="password" id="password-login" class="form-control" placeholder="Password" />
        </div>
        <div class="login-btn">
            <button type="submit" class="btn btn-dark btn-lg">Login</button>
        </div>
    </form>
</section>


<script src="/javascript/login.js"></script>